<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- form login -->
<div id="app">
    <div class="border-solid rounded border border-dark" v-if="currentPage === 'login-page' ">
        <form @submit.prevent="login" class="flex-login h80">
           <input 
           v-model="user.email" 
           type="text" 
           class="mb-4" 
           id="email-input" 
           placeholder="email"
           >
           <input 
           v-model="user.password" 
           type="password" 
           class="mb-4" 
           id="password-input" 
           placeholder="password"
           >
            <button class="mb-4 btn btn-primary">Login</button>
            <!-- <button class="mb-4 btn btn-success">Register</button> -->
           <img class="logo-login" src="./img/caneband-logo.png" alt="" width="75px">
        </form>
    </div>
    <div class="main-page" v-else-if="currentPage === 'main-page' ">
          <!-- navbar -->
          <div class="navbar bg-cream p-0">
                <img src="./img/caneband-logo.png" alt="" width="75px">
                <a href="">
                    <img src="./icons/png/002-home.png" alt="" width="35px">
                </a>
                <a href="">
                    <img src="./icons/png/003-affiliate-marketing.png" alt="" width="35px">
                </a>
                <a href="">
                    <img src="./icons/png/005-envelope.png" alt="" width="35px">
                </a>
                <a href="">
                    <img src="./icons/png/004-magnifying-glass.png" alt="" width="35px">
                </a>
                <a href="#" @click="logout">
                    <img src="./icons/png/logout.png" alt="" width="35px">
                </a>
        </div>
        <!-- header -->
        <div class="header">
            <h2>Selamat Datang, {{user.name}}</h2>
        </div>
        <div class="cards">
            <div class="side-bar card-body col col-xl-3 border border-dark m-2 p-3">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <form action="">
                    <h3>Add New Todo</h3>
                    <input v-model="newTodo.title" type="text" placeholder="Title"><br>
                    <input v-model="newTodo.description" type="text" placeholder="Description"><br>
                    <input v-model="newTodo.due_date" type="date"><br>           
                    <button @click= "addTodo" class="btn btn-secondary">Add</button><br>
                </form>
            </div>
            <div class="col col-xl-2 border border-primary m-2 p-3">
                <h2>Backlog</h2>
                <div v-for="todo in todoList" class="card-body border p-3">
                    <h5 class="card-title">{{todo.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{todo.due_date}}</h6>
                    <p class="card-text">{{todo.description}}</p>
                    <button @click="processTodo()" class="btn btn-primary">process</button><br><br>
                </div> 
            </div>
            <div class="col col-xl-2 border border-warning m-2 p-3">
                <h2>Todo</h2>
                <div class="card-body border p-3">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="col col-xl-2 border border-success m-2 p-3">
                <h2>Doing</h2>
                <div class="card-body border p-3">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="col col-xl-2 border border-danger m-2 p-3">
                <h2>Completed</h2>
                <div class="card-body border p-3">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div> 
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>