<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <div id="app">
      <!-- login page -->
      <div id="login-page" v-if="currentPage === 'login-page'">
        <div class="bg-video">
          <!-- <video class="bg-video-content" autoplay muted loop>
            <source src="img/video.mp4" type="video/mp4">
              <source src="img/video.webm" type="video/webm">
                your browser is not supported
              </video> -->
            </div>
            <div class="center">
              <h1 style="margin-bottom: 3rem;" class="welcome">Welcome</h1>
              <form @submit.prevent="login">
                <div class="uk-margin">
                  <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input v-model="user.email" id="email" class="uk-input" type="email" placeholder="email here">
                  </div>
                </div>

                <div class="uk-margin">
                  <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input v-model="user.password" id="password" class="uk-input" type="password" placeholder="password here">
                  </div>
                </div>
                <button type="submit" class="login-btn uk-button uk-button-primary">Login</button>
                <div class="uk-margin">
                  <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip"></span>
                    Didn't have account? <a href="#" @click="showRegister">Register</a>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- register -->
          <div id="test-add" v-else-if="currentPage == 'test-register'">
            <form>
              <h3>Register</h3>
              <label for="name">Name: </label>
              <input v-model='registerData.name' type="text" placeholder="Name"><br>
              <label for="email">Email: </label>
              <input v-model='registerData.email' type="text" placeholder="Email"><br>
              <label for="Job Desk">Password: </label>
              <input v-model='registerData.password' type="password" placeholder="Password"><br>
              <label for="password">Job Desk : </label>
              <input v-model='registerData.jobDesk' type="text" placeholder="JobDesk"><br>
              <label for="organisation">Organisation: </label>
              <select v-model='registerData.OrganisationId'>
                <option v-for="(org, idx) in organization" value="org[idx].id">{{ org.name }}</option>
              <select>
              <br>
              <button class="btn btn-secondary" @click="registerUser">Register</button><br>
          </form>
          </div>

        <!-- add page -->
      <div id="test-add" v-else-if="currentPage == 'test-add'">
        <form>
          <h3>Add New Todo</h3>
          <input v-model='task.title' type="text" placeholder="Title"><br>
          <input v-model='task.description' type="text" placeholder="Description"><br>
          <select v-model='task.category'>
            <option value="Backlog">Backlog</option>
            <option value="Todo">Todo</option>
            <option value="Doing">Doing</option>
            <option value="Done">Done</option>
          <select>
          <br>
          <input v-model='task.due_date' type="date"><br>
          <button class="btn btn-secondary" @click="addTask">Add</button><br>
      </form>
      </div>
      <!-- home page -->
      <div id="home-page" v-else-if="currentPage === 'home-page'">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary mb-2">
          <a class="navbar-brand font-white" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link font-white" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-white" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item font-white" href="#">Action</a>
                  <a class="dropdown-item font-white" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item font-white" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled font-white" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark my-2 my-sm-0 font-white" type="submit">Search</button>
            </form>
          </div>
        </nav>
        <div class="container-fluid border border-dark">
          <div class="row">
            <div class="col-3 d-flex align-items-start flex-column bd-highlight bg-primary">
              <div class="p-2 bd-highlight w-100"><a href="#" @click="showForm">Add Task</a></div>
              <div class="p-2 bd-highlight w-100">Flex Item</div>
              <div class="p-2 bd-highlight w-100">Flex Item</div>
            </div>
            <div class="col-9" id="cntr-1">
              <div class="row">
                <div class="col-3">
                  <div class="center">Backlog</div>
                  <div class="row">
                    <div class="col-3 border border-dark">
                      <div class="card" style="width: 18rem;" v-for="task in tasks">
                        <div class="card-body">
                          <h5 class="card-title">{{task.title}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{task.description}}</h6>
                          <p class="card-text">{{task.due_date}}</p>
                          <a href="#" class="card-link" @click="deleteDeh(task.id)">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="center">Todo</div>
                  <div class="row">
                    <div class="col-3 border border-dark">
                      <div class="card" style="width: 18rem;" v-for="task in tasks">
                        <div class="card-body">
                          <h5 class="card-title">{{task.title}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{task.description}}</h6>
                          <p class="card-text">{{task.due_date}}</p>
                          <a href="#" class="card-link" @click="deleteDeh(task.id)">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="center">Doing</div>
                  <div class="row">
                    <div class="col-3 border border-dark">
                      <div class="card" style="width: 18rem;" v-for="task in tasks">
                        <div class="card-body">
                          <h5 class="card-title">{{task.title}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{task.description}}</h6>
                          <p class="card-text">{{task.due_date}}</p>
                          <a href="#" class="card-link" @click="deleteDeh(task.id)">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="center">Done</div>
                  <div class="row">
                    <div class="col-3 border border-dark">
                      <div class="card" style="width: 18rem;" v-for="task in tasks">
                        <div class="card-body">
                          <h5 class="card-title">{{task.title}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{task.description}}</h6>
                          <p class="card-text">{{task.due_date}}</p>
                          <a href="#" class="card-link" @click="deleteDeh(task.id)">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="main.js"></script>
  </body>
</html>
