/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: 'Poppins', sans-serif;
}
.font-white{
  color: white !important;
}
.h-80vh{
  height:80vh;
}
.w-100{
  width: 100%;
}
#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.center {
    /* background-color: rgba(245, 246, 250,.8); */
    /* width: 300px; */
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .6;
}

.bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.welcome {
    color: white;
    text-shadow: 2px 5px 10px black;
}
.login-btn{
    width: 100% !important;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
}
#cntr-1{
  background-color: red;
}
#cntr-2{
  background-color: green;
}
#cntr-3{
  background-color: blue;
}
.col-9 .row .col-3 .row{
  display:flex;
  flex-flow:column;
}
