.board-content-space {
  background-color:rgba(255, 255, 255, 0.425);
  height: 100vh;
}

.kanban-card {
  border-radius: 10px;
  background-color: rgb(255, 221, 108);
}

#login-section {
  background-color: white; 
  margin-left: 30%; 
  margin-right: 30%; 
  margin-top: 10%;
}

#regis-section {
  background-color: white; 
  margin-left: 30%; 
  margin-right: 30%; 
  margin-top: 10%;
}

#board-section {
  background-color: rgb(0, 0, 0);
}